{% extends 'base/base.html' %} {% load static %} {% load cache %}
{% block title %} Courses | LMS {% endblock title %}
{% block body %}
    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(/static/assets/img/banner/12.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Courses</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Courses</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Star Courses Area
    ============================================= -->
    <div class="courses-area default-padding bottom-less">

        <div class="container">
            <div class="courses-box">
                <div class="row">
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/4.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>$15.00</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">Photography for Beginners Masterclass</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 6K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.8 (867)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/5.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>Free</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">Introduction to Mobile Apps Development</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 18K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.9 (476)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/6.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>$29.00</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">How to Become a Startup Founder</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 12K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.7 (357)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/1.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>$15.00</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">Social Science & Humanities</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 6K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.8 (867)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/2.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>Free</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">Data science and software</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 18K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.9 (476)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                    <!-- Single item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <a href="course-details.html">
                                    <img src="/static/assets/img/courses/3.jpg" alt="Thumb">
                                </a>
                                <div class="price">
                                    <h5>$29.00</h5>
                                </div>
                            </div>
                            <div class="info">
                                <h4>
                                    <a href="course-details.html">Programming And Masterclass</a>
                                </h4>
                                <p>
                                    Seeing rather her you not esteem men settle genius excuse. Deal say over you age from Comparison new. 
                                </p>
                                <div class="bottom-info">
                                    <div class="course-info">
                                        <i class="fas fa-user"></i> 12K
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span>4.7 (357)</span>
                                    </div>
                                    <a class="btn btn-theme effect btn-sm" href="course-details.html">Enroll Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Courses Area -->
{% endblock body %}